h1 {
    text-align: center;
}

p { 
    text-align: center;
}
.main {
  position: relative;
  width: 50%;
}

.pic1 {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  margin: auto 50%;
  
}

.center {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  margin: auto 50%;
}

.main:hover .pic1 {
  opacity: 0.3;
}

.main:hover .center {
  opacity: 1;
}

.name {
  background-color: #04AA6D;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}