nav  {
    
    padding:1em;
    min-width: 120px;
    text-decoration: none;
    padding: 10px;
    background-color: #87B6A7;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-size: 20px;
}

nav a:hover {
    background-color: white;
}

.hmplogo {
    border: 5px solid black;
    border-radius: 4px;
    padding: 5px;
    width: 2%;    
  }

.hmpmain {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

footer {
    background-color: #87B6A7;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
}

.hmpf a:hover {
    background-color: white;
}